.StarBackround {
background-image: url(https://cdn.wallpapersafari.com/37/54/M4phV9.jpg);
background-size: cover;

}

.moonImg{
    max-height: 80vh;
    max-width: 80vh;
}

.main-icon {
    cursor: crosshair;
  user-select: none;
  transition: all .3s linear;
}

.energysword {
  max-height: 10vh;
  max-width: 20vh;
}
