.StarBackround {
  background-image: url(https://i.pinimg.com/originals/bb/ae/91/bbae919ec6b9852d23145cf855ca4f05.jpg);
  background-size: cover;

}

.moonImg {
  max-height: 75vh;
  max-width: 75vh;
}

.main-icon {
  cursor: crosshair;
  user-select: none;
  max-height: 75vh;
  max-width: 75vh;
  transition: all .3s linear;
}

.energysword {
  cursor: crosshair;
  max-height: 20vh;
  max-width: 25vh;
  user-select: none;

}

.BattleRifle {
  cursor: crosshair;
  max-height: 20vh;
  max-width: 25vh;
  user-select: none;

}